<div class="container">
			<header class="the-header-part">
				<h1>Allan James Lapid <span>Brooklyn, New York</span></h1>
			</header>

			<div class="grid">
				<figure class="cool-effect">
					<figcaption>
						<h2>ALLAN <span>JAMES</span> Lapid</h2>
						<p>^.^ Hello, it me ^.^</p>
					</figcaption>
				</figure>
			</div>

		</div>
