/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'normalize';

html, body {
	font-family: 'Raleway', sans-serif;
}

body {
   min-width: 1200px; /* suppose you want minimun width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width: 100%;             /* As IE ignores !important it will set width as 1000px; 100% vs 1000px ??? */
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

a {
	text-decoration: none;
	color: inherit;
}

.alert {
    font-weight: bold;
    font-family: cursive;
	}

div#error_explanation {
	color: red;
}

#errors {
	color: red;
}

#sidebar {
	width: 250px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background: #f5f7f9;
	padding: 7em 0 0 0;
	border-right: 1px solid #d6dce0;
	#logo {
		width: 40px;
		position: absolute;
		right: 3em;
		top: 3em;
	}
	ul {
		list-style: none;
		text-align: right;
		padding-right: 3em;
		.category {
			font-weight: 700;
			font-size: 0.7em;
			text-transform: uppercase;
			color: #33acb7;
		}
		li {
			padding: .5em 0;
			a {
				color: #9eafba;
				text-decoration: none;
				transition: all .4s ease;
				&:hover {
					color: #33acb7;
				}
			}
		}
		.active {
			a {
				color: #33acb7;
			}
		}
	}
	.sign_in {
		position: absolute;
		right: 3em;
		top: 80%;
		font-size: .8em;
		color: #9eafba;
	}
}

.button {
	outline: none;
	background: transparent;
	border: 1px solid #d6dce0;
	padding: .5em 1.5em;
	border-radius: 1.5em;
	&:hover {
		border: 1px solid #33acb7;
		color: #33acb7;
		a {
			color: #33acb7 !important;
		}
	}
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#main_content {
	margin-left: 250px;
	#header {
		padding: 1em 3em;
		border-bottom: 1px solid #d6dce0;
		background: #f5f7f9;
		color: #9eafba;
		p {
			display: inline;
		}
		a {
			color: #9eafba;
			text-decoration: none;
		}
		.buttons {
			float: right;
			margin-top: -6px;
			.button {
				font-size: .8em;
				margin-left: .5em;
			}
			.facebook {
				width: auto;
				height: 25px;
				padding: 5px;
				margin: auto;
			}
			.search-bar {
				width: 300px;
				height: 30px;
				padding: 5px;
				margin: auto;
			}
		}
	}
	.post_wrapper {
		padding: 3em;
		border-bottom: 1px solid #d6dce0;
		.title {
			margin: 0;
			a {
				font-weight: 500;
				text-decoration: none;
				color: #2a2f35;
				font-size: 1.5em;
				&:hover {
					color: #33acb7;
				}
			}
		}
		.date_and_author {
			color: #9eafba;
			margin: .5em 0 0 0;
		}
	}
	#post_content {
		padding: 1em 3em;
		.title {
			font-weight: 500;
			text-decoration: none;
			color: #2a2f35;
			font-size: 2.5em;
			margin-bottom: 0;
		}
		.body {
			font-size: 1.1em;
			line-height: 1.75;
		}
		.date_and_author {
			color: #9eafba;
			margin: .5em 0 2em 0;
		}
		#comments {
			h2 {
				margin: 3em 0 1em 0;
				border-bottom: 1px solid #d6dce0;
				padding-bottom: 0.5em;
			}
			h3 {
				margin-top: 2em;
			}
			.comment {
				border-bottom: 1px solid #d6dce0;
				padding: 1.5em 2em;
				.clear_both {
					clear: both;
				}
				&:after {
					clear: both;
				}
				.comment_content {
					float: left;
					.comment_name {
						margin: 1em 0 0 0;
						font-size: 0.7em;
						text-transform: uppercase;
					}
					.comment_body {
						font-size: 1.2em;
						margin: 0.2em 0 0 0;
					}
					.comment_time {
						margin-top: 1.2em;
						font-size: .8em;
					}
				}
				.button {
					float: right;
				}
				input[type="text"], textarea {
					width: 50%;
				}
			}
		}
	}
	#page_wrapper {
		padding: 3em;
		#profile_image {
			width: 200px;
			float: left;
			margin-right: 2em;
			img {
				width: 100%;
				border-radius: 0.35em;
			}
		}
		#content {
			h1 {
				font-weight: 500;
			}
			p {
				font-size: 1.1em;
				line-height: 1.75;
			}
			a {
				color: #33acb7;
				font-weight: 700;
				text-decoration: none;
			}
		}
	}
	.links {
		margin: 2em 0;
	}
	input[type="text"], input[type="email"], input[type="password"], textarea {
		width: 90%;
		border: 1px solid #d6dce0;
		border-radius: .35em;
		margin-top: 10px;
		padding: .5em 1em;
		line-height: 1.75;
	}
	input[type="text"] {
		height: 35px;
	}
	textarea {
		min-height: 180px;
	}
	input[type="submit"] {
		outline: none;
		background: transparent;
		border: 1px solid #d6dce0;
		padding: .5em 1.5em;
		font-size: 1.1em;
		border-radius: 1.5em;
		margin-left: .0em;
		&:hover {
			border: 1px solid #33acb7;
			color: #33acb7;
		}
	}
}

.pagination {
	display: inline-block;
}

.pagination a, .pagination span.current {
		// font-family: serif;
		font-size: 15px;
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
		// border-radius: 5px;
}

.pagination a:hover {
	background-color: #ddd;
}

//

* {
	box-sizing: border-box;
 }

/* Header */
.the-header-part {
	margin: 0 auto;
	padding: 4em 1em;
	text-align: center;
}

.the-header-part h1 {
	margin: 0;
	font-weight: 800;
	font-size: 4em;
	line-height: 1.3;
}

.the-header-part h1 span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 45%;
	font-weight: 300;
	color: #7e959d;
}

.grid {
	overflow: hidden;
	margin: 0;
	padding: 3em 0 0 0;
	width: 100%;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	margin: -0.135em;
	width: 33.333%;
	height: 400px;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */

.grid figure h2 {
	word-spacing: -0.15em;

	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.cool-effect {
	background: cadetblue;
	height: 100%;
}

figure.cool-effect figcaption::before,
figure.cool-effect figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.cool-effect figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.cool-effect figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.cool-effect h2 {
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.cool-effect p {
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.cool-effect:hover figcaption::before,
figure.cool-effect:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.cool-effect:hover h2,
figure.cool-effect:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}
